body{
    background: #73ae52;
}
.asahi{
            width: auto;
            height: 600px;
            margin: 25px auto;
            background: #fbf1d7;
        }
.navbar {
    background: linear-gradient(to right, #6ab04c, #bfceb6);
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 30px auto;
    padding: 0;
    text-align:left;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

@media (max-width: 768px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .navbar li {
        display: block;
    }
}
.Straylight1{
    flex: 0 0 auto;
    align-self: flex-start;
    width: 700px;
    height: 500px;
    margin: 25px auto;
    background: #fbf1d7;
}
.parent{
    width: auto;
    height: auto;
    display: flex;
  flex-wrap: nowrap;
    margin: 20px auto;
}
.Straylight2 {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 700px;
    height: 500px;
    margin: 25px auto;
    background: #fbf1d7;
}
.Straylight3 {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 700px;
    height: 500px;
    margin: 25px auto;
    background: #fbf1d7;
}
.Straylight4 {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 700px;
    height: 500px;
    margin: 25px auto;
    background: #fbf1d7;
}
.Straylight5 {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 700px;
    height: 500px;
    margin: 25px auto;
    background: #fbf1d7;
}
.Straylight6 {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 700px;
    height: 500px;
    margin: 25px auto;
    background: #fbf1d7;
}
.Straylight7 {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 700px;
    height: 500px;
    margin: 25px auto;
    background: #fbf1d7;
}
.Straylight8 {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 700px;
    height: 500px;
    margin: 25px auto;
    background: #fbf1d7;
}