body {
            font-family: Arial, sans-serif;
            background-color: #f0f8f7; /* 浅绿色背景 */
            margin: 20px;
        }
h2{
    color: #2c9678; /* 设置h1标签文本颜色为绿色 */
    text-align: center; /* 居中对齐文本 */
    margin-top: 20px; /* 设置顶部外边距 */
}
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #4caf50; /* 深绿色边框 */
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #4caf50; /* 深绿色背景 */
            color: white;
        }

        tr:nth-child(even) {
            background-color: #e0f2f1; /* 浅绿色交替行背景 */
        }

        .progress-bar {
            width: 100%;
            height: 20px;
            background-color: #63bbd0; /* 进度条底色，可以根据需要调整 */
            border-radius: 5px;
            overflow: hidden;
        }

        .progress-bar-inner {
            height: 100%;
            background-color: #2474b5; /* 进度条颜色，可以根据需要调整 */
            transition: width 0.5s ease-in-out;
        }
        .box{
            width: 500px;
            height: 500px;
            margin: 20px auto;
        }
        .box1{
            width: 1000px;
            height: 400px;
            margin: 20px auto;
        }
        .box2{
            width: 1000px;
            height: 400px;
            margin: 20px auto;
        }