<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全体学生具体细项</title>
    <link rel="stylesheet" href="/static/CSS/line.css">
<script src="/static/echarts.min.js"></script>
<link rel="stylesheet" href="/static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/static/CSS/all.css">
</head>
<body>
<div class="header">
    <span class="login-status">{{ session['user_now']['username'] }}已登录  <a href="/login_out">退出</a></span>
</div>
<div class="navbar">
    <ul>
        <li><a href="/homework">全部学生作业数据展示</a></li>
        <li><a href="/test">全部学生自测题数据展示</a></li>
        <li><a href="/all_detail">全体学生具体细项</a></li>
        <li><a href="/student/1">返回学生目录</a></li>
        <li><a href="/ai_testing">ai问答</a></li>
        <li><a href="/post">论坛</a></li>
        <li><a href="/resource">文件下载上传</a></li>
    </ul>
</div>
<div class="parent"><div class="Straylight1"></div><div class="Straylight2"></div></div>
<div class="parent"><div class="Straylight3"></div><div class="Straylight4"></div></div>
<div class="parent"><div class="Straylight5"></div><div class="Straylight6"></div></div>
<div class="parent"><div class="Straylight7"></div><div class="Straylight8"></div></div>

<script>
    var myChart = echarts.init(document.querySelector(".Straylight8"));
    var option;
option = {
    title: {
    text: '学生平均笔记成绩'
  },
  xAxis: {
    type: 'category',
    data: {{name_student }}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:[{% for item in num_students%}
          {{ stu_detail[item][8] }},
          {% endfor %}
      ] ,
      type: 'bar',
      showBackground: true,
        color: {
    type: 'linear',
    x: 0,
    y: 0,
    x2: 0,
    y2: 1,
    colorStops: [{
        offset: 0, color: '#117c6f' // 0% 处的颜色
    }, {
        offset: 1, color: '#b2f0e8' // 100% 处的颜色
    }],
    globalCoord: false // 缺省为 false
},
      backgroundStyle: {
        color: 'rgba(180, 180, 180, 0.2)'
      }
    }
  ]
};
option && myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.querySelector(".Straylight7"));
    var option;
option = {
    title: {
    text: '学生期末成绩'
  },
  xAxis: {
    type: 'category',
    data: {{name_student }}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:[{% for item in num_students%}
          {{ stu_detail[item][7] }},
          {% endfor %}
      ] ,
      type: 'bar',
      showBackground: true,
        color: {
    type: 'linear',
    x: 0,
    y: 0,
    x2: 0,
    y2: 1,
    colorStops: [{
        offset: 0, color: '#117c6f' // 0% 处的颜色
    }, {
        offset: 1, color: '#b2f0e8' // 100% 处的颜色
    }],
    globalCoord: false // 缺省为 false
},
      backgroundStyle: {
        color: 'rgba(180, 180, 180, 0.2)'
      }
    }
  ]
};
option && myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.querySelector(".Straylight6"));
    var option;
option = {
    title: {
    text: '学生完成自测题时课件页面观看率'
  },
  xAxis: {
    type: 'category',
    data: {{name_student }}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:[{% for item in num_students%}
          {{ stu_detail[item][6] }},
          {% endfor %}
      ] ,
      type: 'bar',
      showBackground: true,
        color: {
    type: 'linear',
    x: 0,
    y: 0,
    x2: 0,
    y2: 1,
    colorStops: [{
        offset: 0, color: '#117c6f' // 0% 处的颜色
    }, {
        offset: 1, color: '#b2f0e8' // 100% 处的颜色
    }],
    globalCoord: false // 缺省为 false
},
      backgroundStyle: {
        color: 'rgba(180, 180, 180, 0.2)'
      }
    }
  ]
};
option && myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.querySelector(".Straylight5"));
    var option;
option = {
    title: {
    text: '学生完成作业时课件页面观看率'
  },
  xAxis: {
    type: 'category',
    data: {{name_student }}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:[{% for item in num_students%}
          {{ stu_detail[item][5] }},
          {% endfor %}
      ] ,
      type: 'bar',
      showBackground: true,
        color: {
    type: 'linear',
    x: 0,
    y: 0,
    x2: 0,
    y2: 1,
    colorStops: [{
        offset: 0, color: '#117c6f' // 0% 处的颜色
    }, {
        offset: 1, color: '#b2f0e8' // 100% 处的颜色
    }],
    globalCoord: false // 缺省为 false
},
      backgroundStyle: {
        color: 'rgba(180, 180, 180, 0.2)'
      }
    }
  ]
};
option && myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.querySelector(".Straylight4"));
    var option;
option = {
    title: {
    text: '学生自测题完成率'
  },
  xAxis: {
    type: 'category',
    data: {{name_student }}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:[{% for item in num_students%}
          {{ stu_detail[item][4] }},
          {% endfor %}
      ] ,
      type: 'bar',
      showBackground: true,
        color: {
    type: 'linear',
    x: 0,
    y: 0,
    x2: 0,
    y2: 1,
    colorStops: [{
        offset: 0, color: '#117c6f' // 0% 处的颜色
    }, {
        offset: 1, color: '#b2f0e8' // 100% 处的颜色
    }],
    globalCoord: false // 缺省为 false
},
      backgroundStyle: {
        color: 'rgba(180, 180, 180, 0.2)'
      }
    }
  ]
};
option && myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.querySelector(".Straylight3"));
    var option;
option = {
    title: {
    text: '学生作业完成率'
  },
  xAxis: {
    type: 'category',
    data: {{name_student }}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:[{% for item in num_students%}
          {{ stu_detail[item][3] }},
          {% endfor %}
      ] ,
      type: 'bar',
      showBackground: true,
        color: {
    type: 'linear',
    x: 0,
    y: 0,
    x2: 0,
    y2: 1,
    colorStops: [{
        offset: 0, color: '#117c6f' // 0% 处的颜色
    }, {
        offset: 1, color: '#b2f0e8' // 100% 处的颜色
    }],
    globalCoord: false // 缺省为 false
},
      backgroundStyle: {
        color: 'rgba(180, 180, 180, 0.2)'
      }
    }
  ]
};

option && myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.querySelector(".Straylight2"));
    var option;
option = {
    title: {
    text: '学生课堂成绩'
  },
  xAxis: {
    type: 'category',
    data: {{name_student }}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:[{% for item in num_students%}
          {{ stu_detail[item][2] }},
          {% endfor %}
      ] ,
      type: 'bar',
      showBackground: true,
        color: {
    type: 'linear',
    x: 0,
    y: 0,
    x2: 0,
    y2: 1,
    colorStops: [{
        offset: 0, color: '#117c6f' // 0% 处的颜色
    }, {
        offset: 1, color: '#b2f0e8' // 100% 处的颜色
    }],
    globalCoord: false // 缺省为 false
},
      backgroundStyle: {
        color: 'rgba(180, 180, 180, 0.2)'
      }
    }
  ]
};

option && myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.querySelector(".Straylight1"));
    var option;
option = {
    title: {
    text: '学生签到率'
  },
  xAxis: {
    type: 'category',
    data: {{name_student }}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:[{% for item in num_students%}
          {{ stu_detail[item][1] }},
          {% endfor %}
      ] ,
      type: 'bar',
      showBackground: true,
        color: {
    type: 'linear',
    x: 0,
    y: 0,
    x2: 0,
    y2: 1,
    colorStops: [{
        offset: 0, color: '#117c6f' // 0% 处的颜色
    }, {
        offset: 1, color: '#b2f0e8' // 100% 处的颜色
    }],
    globalCoord: false // 缺省为 false
},
      backgroundStyle: {
        color: 'rgba(180, 180, 180, 0.2)'
      }
    }
  ]
};

option && myChart.setOption(option);
</script>
</body>
</html>