<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对比</title>
    <link rel="stylesheet" href="/static/CSS/bootstrap.css">
    <link rel="stylesheet" href="/static/CSS/compare.css">
    <link rel="stylesheet" href="/static/CSS/all.css">
    <script src="/static/echarts.min.js"></script>
</head>
<body>
<div class="header">
    <span class="login-status">{{ session['user_now']['username'] }}已登录  <a href="/login_out">退出</a></span>
</div>
{% if message %}
        <script>alert("{{ message }}");</script>
    {% endif %}
<ul class="bar">
    <li class="item">
        <a class="link" href="/rawdata/id={{ stu_id }}">具体细项</a>
    </li>
    <li class="item">
        <a class="link" href="/detail/id={{stu_id}}">总体情况</a>
    </li>
    {% if session['user_now']['identity']!="student" %}
    <li class="item">
        <a class="link" href="/compare/id={{stu_id}}">对比</a>
    </li>
    <li class="item">
        <a class="link" href="/student/1">返回学生目录</a>
    </li>
    {% endif %}
    <li class="item">
        <a class="link" href="/post">论坛</a>
    </li>
    <li class="item">
        <a class="link" href="/ai_testing">ai问答</a>
    </li>
    <li class="item">
        <a class="link" href="/resource">文件下载</a>
    </li>
</ul>
<h1>学生数据对比</h1>
    <form id="searchForm" method="post">
        <label for="search_id">搜索学生id:</label>
        <input type="text" id="search_id" name="search_id">
        <button type="submit" class="submit-btn">搜索</button>
    </form>
    <table id="comparisonTable">
        <thead>
            <tr>
                <th>项目</th>
                <th>当前学生</th>
                <th>搜索学生</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>姓名</td>
                <td>{{user1.name}}</td>
                <td>{{user2.name}}</td>
            </tr>
            <tr>
                <td>期末成绩（满分100）</td>
                <td>{{ user1.eopscore }}</td>
                <td>{{ user2.eopscore }}</td>
            </tr>
            <tr>
                <td>签到率</td>
                <td>{{ stu1.attend_rate }}</td>
                <td>{{ stu2.attend_rate }}</td>
            </tr>
            <tr>
                <td>课堂平均成绩（满分100）</td>
                <td>{{ stu1.class_score }}</td>
                <td>{{ stu2.class_score }}</td>
            </tr>
            <tr>
                <td>作业完成率</td>
                <td>{{ stu1.Completion_rate_of_homework }}</td>
                <td>{{ stu2.Completion_rate_of_homework }}</td>
            </tr>
            <tr>
                <td>自测题完成率</td>
                <td>{{ stu1.Completion_rate_of_test }}</td>
                <td>{{ stu2.Completion_rate_of_test }}</td>
            </tr>
            <tr>
                <td>完成作业时观看页面百分比</td>
                <td>{{ stu1.View_page_percentage_of_homework }}</td>
                <td>{{ stu2.View_page_percentage_of_homework }}</td>
            </tr>
            <tr>
                <td>完成自测题时观看页面百分比</td>
                <td>{{ stu1.View_page_percentage_of_test }}</td>
                <td>{{ stu2.View_page_percentage_of_test }}</td>
            </tr>
            <tr>
                <td>笔记平均成绩（满分20）</td>
                <td>{{ stu1.note_score }}</td>
                <td>{{ stu2.note_score }}</td>
            </tr>
        </tbody>
    </table>
    <div class="box"></div>
    <script>
       var myChart = echarts.init(document.querySelector(".box"));
var option;

option = {
  title: {
    text: '两名同学对比雷达图'
  },
  legend: {
    data: ['{{user1.name}}', '{{user2.name}}']
  },
  radar: {
    // shape: 'circle',
    indicator: [
      { name: '期末成绩', max: 100 },
      { name: '签到率', max: 1 },
      { name: '课堂平均成绩', max: 100 },
      { name: '作业完成率', max: 1 },
        { name: '自测题完成率', max: 1 },
      { name: '完成作业时观看页面百分比', max: 1 },
      { name: '完成自测题时观看页面百分比', max: 1 },
        { name: '笔记平均成绩', max: 20 }
    ]
  },
  series: [
    {
      name: 'Budget vs spending',
      type: 'radar',
      data: [
        {
          value: {{ data1 }},
          name: '{{user1.name}}'
        },
        {
          value: {{ data2 }},
          name: '{{user2.name}}'
        }
      ]
    }
  ]
};

option && myChart.setOption(option);
    </script>

</body>
</html>