<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部学生作业数据展示</title>
</head>
<link rel="stylesheet" href="/static/CSS/line.css">
<script src="/static/echarts.min.js"></script>
<link rel="stylesheet" href="/static/CSS/bootstrap.min.css">
<link rel="stylesheet" href="/static/CSS/all.css">
<body>
<div class="header">
    <span class="login-status">{{ session['user_now']['username'] }}已登录  <a href="/login_out">退出</a></span>
</div>
<div class="navbar">
    <ul>
        <li><a href="/homework">全部学生作业数据展示</a></li>
        <li><a href="/test">全部学生自测题数据展示</a></li>
        <li><a href="/all_detail">全体学生具体细项</a></li>
        <li><a href="/student/1">返回学生目录</a></li>
        <li><a href="/ai_testing">ai问答</a></li>
        <li><a href="/post">论坛</a></li>
        <li><a href="/resource">文件下载上传</a></li>
    </ul>
</div>
<div class="asahi"></div>
<script>
    var myChart = echarts.init(document.querySelector(".asahi"));
    var option;

option = {
  title: {
    text: ''
  },
  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: {{ name_student }}
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
      top:'25%',
    containLabel: true
  },
  toolbox: {
    feature: {
      saveAsImage: {}
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: ["1","2","3","4","5","6","7","8","9","10","11","12","average"]
  },
  yAxis: {
    type: 'value'
  },
  series:[
      {% for item in num_students %}
      {
      name: {{ stu_homework[item][0]}},
      type: 'line',
      data: {{stu_homework[item][1]}}
  },
      {% endfor %}
  ]
};

option && myChart.setOption(option);
</script>
</body>
</html>