<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ stu_id }}具体细项</title>
    <link rel="stylesheet" href="/static/CSS/bootstrap.css">
    <link rel="stylesheet" href="/static/CSS/rawdata.css">
    <link rel="stylesheet" href="/static/CSS/all.css">
    <script src="/static/echarts.min.js"></script>
</head>
<body>
<div class="header">
    <span class="login-status">{{ session['user_now']['username'] }}已登录  <a href="/login_out">退出</a></span>
</div>
<ul class="bar">
    <li class="item">
        <a class="link" href="/rawdata/id={{ stu_id }}">具体细项</a>
    </li>
    <li class="item">
        <a class="link" href="/detail/id={{stu_id}}">总体情况</a>
    </li>
    {% if session['user_now']['identity']!="student" %}
    <li class="item">
        <a class="link" href="/compare/id={{stu_id}}">对比</a>
    </li>
    <li class="item">
        <a class="link" href="/student/1">返回学生目录</a>
    </li>
    {% endif %}
    <li class="item">
        <a class="link" href="/post">论坛</a>
    </li>
    <li class="item">
        <a class="link" href="/ai_testing">ai问答</a>
    </li>
    <li class="item">
        <a class="link" href="/resource">文件下载</a>
    </li>
</ul>
<h2>具体细项</h2>
    <table>
        <thead>
            <tr>
                <th>类型</th>
                <th>数值</th>
                <th>可视化进度条</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>签到率</td>
                <td>{{raw_data.attend_rate}}</td>
                <td>
                    <div class="progress-bar">
                        <div class="progress-bar-inner" style="width: {{ percen(raw_data.attend_rate) }};"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>课堂平均成绩（满分100）</td>
                <td>{{raw_data.class_score}}</td>
                <td><div class="progress-bar">
                        <div class="progress-bar-inner" style="width: {{percen(score_percentage(raw_data.class_score))}};"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>作业完成率</td>
                <td>{{raw_data.Completion_rate_of_homework}}</td>
                <td>
                    <div class="progress-bar">
                        <div class="progress-bar-inner" style="width: {{ percen(raw_data.Completion_rate_of_homework)}};"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>自测题完成率</td>
                <td>{{raw_data.Completion_rate_of_test}}</td>
                <td>
                    <div class="progress-bar">
                        <div class="progress-bar-inner" style="width: {{ percen(raw_data.Completion_rate_of_test)}};"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>完成作业时观看页面百分比</td>
                <td>{{raw_data.View_page_percentage_of_homework}}</td>
                <td>
                    <div class="progress-bar">
                        <div class="progress-bar-inner" style="width: {{ percen(raw_data.View_page_percentage_of_homework)}};"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>完成自测题时观看页面百分比</td>
                <td>{{raw_data.View_page_percentage_of_test}}</td>
                <td>
                    <div class="progress-bar">
                        <div class="progress-bar-inner" style="width: {{percen(raw_data.View_page_percentage_of_test)}};"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>期末成绩（满分100）</td>
                <td>{{raw_data.eopscore}}</td>
                <td><div class="progress-bar">
                        <div class="progress-bar-inner" style="width: {{percen(score_percentage(raw_data.eopscore))}};"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>笔记平均成绩（满分20）</td>
                <td>{{raw_data.note_score}}</td>
                <td><div class="progress-bar">
                        <div class="progress-bar-inner" style="width: {{percen(note_percentage(raw_data.note_score))}};"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
<div class="box"></div>
<h2>作业分数具体细项</h2>
    <table>
        <thead>
            <tr>
                <th>作业序号</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>average</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>该生成绩</td>
                <td>{{ homework_data.homework1 }}</td>
                <td>{{ homework_data.homework2 }}</td>
                <td>{{ homework_data.homework3 }}</td>
                <td>{{ homework_data.homework4 }}</td>
                <td>{{ homework_data.homework5 }}</td>
                <td>{{ homework_data.homework6 }}</td>
                <td>{{ homework_data.homework7 }}</td>
                <td>{{ homework_data.homework8 }}</td>
                <td>{{ homework_data.homework9 }}</td>
                <td>{{ homework_data.homework10 }}</td>
                <td>{{ homework_data.homework11 }}</td>
                <td>{{ homework_data.homework12 }}</td>
                <td>{{ homework_data.average }}</td>
            </tr>
            <tr>
                <td>成绩中位数</td>
                <td>{{ average_all.homework1 }}</td>
                <td>{{ average_all.homework2 }}</td>
                <td>{{ average_all.homework3 }}</td>
                <td>{{ average_all.homework4 }}</td>
                <td>{{ average_all.homework5 }}</td>
                <td>{{ average_all.homework6 }}</td>
                <td>{{ average_all.homework7 }}</td>
                <td>{{ average_all.homework8 }}</td>
                <td>{{ average_all.homework9 }}</td>
                <td>{{ average_all.homework10 }}</td>
                <td>{{ average_all.homework11 }}</td>
                <td>{{ average_all.homework12 }}</td>
                <td>{{ homework_data.average_all }}</td>
            </tr>
            <tr>
                <td>对比平均分</td>
                <td style="color: {{ compare2(homework_data.homework1,average_all.homework1) }}">{{ compare1(homework_data.homework1,average_all.homework1) }}</td>
                <td style="color: {{ compare2(homework_data.homework2,average_all.homework2) }}">{{ compare1(homework_data.homework2,average_all.homework2) }}</td>
                <td style="color: {{ compare2(homework_data.homework3,average_all.homework3) }}">{{ compare1(homework_data.homework3,average_all.homework3) }}</td>
                <td style="color: {{ compare2(homework_data.homework4,average_all.homework4) }}">{{ compare1(homework_data.homework4,average_all.homework4) }}</td>
                <td style="color: {{ compare2(homework_data.homework5,average_all.homework5) }}">{{ compare1(homework_data.homework5,average_all.homework5) }}</td>
                <td style="color: {{ compare2(homework_data.homework6,average_all.homework6) }}">{{ compare1(homework_data.homework6,average_all.homework6) }}</td>
                <td style="color: {{ compare2(homework_data.homework7,average_all.homework7) }}">{{ compare1(homework_data.homework7,average_all.homework7) }}</td>
                <td style="color: {{ compare2(homework_data.homework8,average_all.homework8) }}">{{ compare1(homework_data.homework8,average_all.homework8) }}</td>
                <td style="color: {{ compare2(homework_data.homework9,average_all.homework9) }}">{{ compare1(homework_data.homework9,average_all.homework9) }}</td>
                <td style="color: {{ compare2(homework_data.homework10,average_all.homework10) }}">{{ compare1(homework_data.homework10,average_all.homework10) }}</td>
                <td style="color: {{ compare2(homework_data.homework11,average_all.homework11) }}">{{ compare1(homework_data.homework11,average_all.homework11)}}</td>
                <td style="color: {{ compare2(homework_data.homework12,average_all.homework12) }}">{{ compare1(homework_data.homework12,average_all.homework12) }}</td>
                <td style="color: {{ compare2(homework_data.average,homework_data.average_all) }}">{{ compare1(homework_data.average,homework_data.average_all) }}</td>
            </tr>
        </tbody>
    </table>
<div class="box1"></div>
<h2>自测题分数具体细项</h2>
    <table>
        <thead>
            <tr>
                <th>自测题序号</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>average</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>该生成绩</td>
                <td>{{ test_data.test1 }}</td>
                <td>{{ test_data.test2 }}</td>
                <td>{{ test_data.test3 }}</td>
                <td>{{ test_data.test4 }}</td>
                <td>{{ test_data.test5 }}</td>
                <td>{{ test_data.test6 }}</td>
                <td>{{ test_data.test7 }}</td>
                <td>{{ test_data.test8 }}</td>
                <td>{{ test_data.test9 }}</td>
                <td>{{ test_data.test10 }}</td>
                <td>{{ test_data.test11 }}</td>
                <td>{{ test_data.test12 }}</td>
                <td>{{ test_data.test13 }}</td>
                <td>{{ test_data.test14 }}</td>
                <td>{{ test_data.test15 }}</td>
                <td>{{ test_data.test16 }}</td>
                <td>{{ test_data.test17 }}</td>
                <td>{{ test_data.average }}</td>
            </tr>
            <tr>
                <td>成绩中位数</td>
                <td>{{ average_all.test1 }}</td>
                <td>{{ average_all.test2 }}</td>
                <td>{{ average_all.test3 }}</td>
                <td>{{ average_all.test4 }}</td>
                <td>{{ average_all.test5 }}</td>
                <td>{{ average_all.test6 }}</td>
                <td>{{ average_all.test7 }}</td>
                <td>{{ average_all.test8 }}</td>
                <td>{{ average_all.test9 }}</td>
                <td>{{ average_all.test10 }}</td>
                <td>{{ average_all.test11 }}</td>
                <td>{{ average_all.test12 }}</td>
                <td>{{ average_all.test13 }}</td>
                <td>{{ average_all.test14 }}</td>
                <td>{{ average_all.test15 }}</td>
                <td>{{ average_all.test16 }}</td>
                <td>{{ average_all.test17 }}</td>
                <td>{{ test_data.average_all }}</td>
            </tr>
            <tr>
                <td>对比平均分</td>
                <td style="color: {{ compare2(test_data.test1,average_all.test1) }}">{{ compare1(test_data.test1,average_all.test1) }}</td>
                <td style="color: {{ compare2(test_data.test2,average_all.test2) }}">{{ compare1(test_data.test2,average_all.test2) }}</td>
                <td style="color: {{ compare2(test_data.test3,average_all.test3) }}">{{ compare1(test_data.test3,average_all.test3) }}</td>
                <td style="color: {{ compare2(test_data.test4,average_all.test4) }}">{{ compare1(test_data.test4,average_all.test4) }}</td>
                <td style="color: {{ compare2(test_data.test5,average_all.test5) }}">{{ compare1(test_data.test5,average_all.test5) }}</td>
                <td style="color: {{ compare2(test_data.test6,average_all.test6) }}">{{ compare1(test_data.test6,average_all.test6) }}</td>
                <td style="color: {{ compare2(test_data.test7,average_all.test7) }}">{{ compare1(test_data.test7,average_all.test7) }}</td>
                <td style="color: {{ compare2(test_data.test8,average_all.test8) }}">{{ compare1(test_data.test8,average_all.test8) }}</td>
                <td style="color: {{ compare2(test_data.test9,average_all.test9) }}">{{ compare1(test_data.test9,average_all.test9) }}</td>
                <td style="color: {{ compare2(test_data.test10,average_all.test10) }}">{{ compare1(test_data.test10,average_all.test10) }}</td>
                <td style="color: {{ compare2(test_data.test11,average_all.test11) }}">{{ compare1(test_data.test11,average_all.test11) }}</td>
                <td style="color: {{ compare2(test_data.test12,average_all.test12) }}">{{ compare1(test_data.test12,average_all.test12) }}</td>
                <td style="color: {{ compare2(test_data.test13,average_all.test13) }}">{{ compare1(test_data.test13,average_all.test13) }}</td>
                <td style="color: {{ compare2(test_data.test14,average_all.test14) }}">{{ compare1(test_data.test14,average_all.test14) }}</td>
                <td style="color: {{ compare2(test_data.test15,average_all.test15) }}">{{ compare1(test_data.test15,average_all.test15) }}</td>
                <td style="color: {{ compare2(test_data.test16,average_all.test16) }}">{{ compare1(test_data.test16,average_all.test16) }}</td>
                <td style="color: {{ compare2(test_data.test17,average_all.test17) }}">{{ compare1(test_data.test17,average_all.test17) }}</td>
                <td style="color: {{ compare2(test_data.average,test_data.average_all) }}">{{ compare1(test_data.average,test_data.average_all) }}</td>
            </tr>
        </tbody>
    </table>
<div class="box2"></div>
<script>
    var myChart = echarts.init(document.querySelector(".box"));
var option;

option = {
  title: {
    text: '{{user.name}}八维信息'
  },
  legend: {
    data: ['{{user.name}}']
  },
  radar: {
    // shape: 'circle',
    indicator: [

      { name: '签到率', max: 1 },
      { name: '课堂平均成绩', max: 100 },
      { name: '作业完成率', max: 1 },
        { name: '自测题完成率', max: 1 },
      { name: '完成作业时观看页面百分比', max: 1 },
      { name: '完成自测题时观看页面百分比', max: 1 },
        { name: '期末成绩', max: 100 },
        { name: '笔记平均成绩', max: 20 }
    ]
  },
  series: [
    {
      name: 'Budget vs spending',
      type: 'radar',
      data: [
        {
          value: {{ data1 }},
          name: '{{user.name}}'
        },
      ]
    }
  ]
};

option && myChart.setOption(option);
    </script>
<script>
    var myChart = echarts.init(document.querySelector(".box1"));
    var option;

option = {
  title: {
    text: '该生作业分数对比折线图'
  },
  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: ['该生成绩', '成绩中位数']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  toolbox: {
    feature: {
      saveAsImage: {}
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: ["1","2","3","4","5","6","7","8","9","10","11","12","average"]
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      name: '该生成绩',
      type: 'line',
      stack: 'Total',
      data: {{ homework }}
    },
    {
      name: '成绩中位数',
      type: 'line',
      stack: 'Total',
      data: {{ homework_average }}
    }
  ]
};

option && myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.querySelector(".box2"));
    var option;

option = {
  title: {
    text: '该生作业分数对比折线图'
  },
  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: ['该生成绩', '成绩中位数']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  toolbox: {
    feature: {
      saveAsImage: {}
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","average"]
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      name: '该生成绩',
      type: 'line',
      stack: 'Total',
      data: {{ test }}
    },
    {
      name: '成绩中位数',
      type: 'line',
      stack: 'Total',
      data: {{ test_average }}
    }
  ]
};

option && myChart.setOption(option);
</script>
</body>
</html>