<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件下载</title>
    <link rel="stylesheet" href="/static/CSS/resource.css">
    <link rel="stylesheet" href="/static/CSS/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="header">
    <span class="login-status">{{ session['user_now']['username'] }} 已登录 <a href="/login_out">退出</a></span>
</div>

<ul class="bar">
    <li class="item">
        <a class="link" href="/rawdata/id={{ stu_id }}">具体细项</a>
    </li>
    <li class="item">
        <a class="link" href="/detail/id={{stu_id}}">总体情况</a>
    </li>
    {% if session['user_now']['identity']!="student" %}
    <li class="item">
        <a class="link" href="/compare/id={{stu_id}}">对比</a>
    </li>
    <li class="item">
        <a class="link" href="/student/1">返回学生目录</a>
    </li>
    {% endif %}
    <li class="item">
        <a class="link" href="/post">论坛</a>
    </li>
    <li class="item">
        <a class="link" href="/ai_testing">ai问答</a>
    </li>
    <li class="item">
        <a class="link" href="/resource">文件下载</a>
    </li>
</ul>

    <div class="container">
        <!-- 上传文件表单 -->
        <form method="post" enctype="multipart/form-data">
            <label for="file">选择文件部分:</label>
            <input type="file" name="file" id="file">
            <input type="submit" value="上传">
        </form>

        <!-- 显示上传的文件列表 -->
        <h2>上传文件列表</h2>
        <ul>
            {% for file in files %}
                <li>
                    <i class="file-icon {% if file.endswith('.xlsx') or file.endswith('.xls') %}fa-solid fa-file-excel{% elif file.endswith('.pdf') %}fa-solid fa-file-pdf{% elif file.endswith('.docx') or file.endswith('.doc') %}fa-solid fa-file-word{% elif file.endswith('.jpg') or file.endswith('.jpeg') or file.endswith('.png') %}fa-solid fa-file-image{% else %}fa-solid fa-file{% endif %}"></i>
                    <a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- 显示消息 -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash-message">
              <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>
