<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/static/CSS/student.css">
    <link rel="stylesheet" href="/static/CSS/all.css">
    <script src="/static/echarts.min.js"></script>
</head>
<body>
<div class="header">
    <span class="login-status">{{ session['user_now']['username'] }}已登录  <a href="/login_out">退出</a></span>
</div>
<div class="navbar">

    <ul>
        <li><a href="/homework">全部学生作业数据展示</a></li>
        <li><a href="/test">全部学生自测题数据展示</a></li>
        <li><a href="/all_detail">全体学生具体细项</a></li>
        <li><a href="/ai_testing">ai问答</a></li>
        <li><a href="/post">论坛</a></li>
        <li><a href="/resource">文件下载上传</a></li>
    </ul>
</div>
<div class="box box-primary">
    <div class="box-body table-responsive no-padding">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="table-success">
                    <th>学号</th>
                    <th>姓名</th>
                    <th>期末成绩</th>
                    <th>进入查看总体情况</th>
                </tr>
            </thead>
            <tbody>
                {% for item in page_data.items %}
                    <tr class="table-primary">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.eopscore }}</td>
                        <td><a href="/detail/id={{ item.id }}">进入查看</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="box-footer clearfix">
        <nav class="d-flex justify-content-center" aria-label="Page navigation example">
            {% if page_data %}
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="./1">首页</a></li>

                    {% if page_data.has_prev %}
                        <li class="page-item"><a class="page-link" href="{{ page_data.prev_num }}">上一页</a></li>
                    {% else %}
                        <li class="disabled"><a class="page-link" href="#">上一页</a></li>
                    {% endif %}
                    <!--
                    {% for item in page_data.iter_pages() %}
                        {% if item == page_data.page %}
                            <li class="page-item active"><a class="page-link" href="{{ item }}">{{ item }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ item }}">{{ item }}</a></li>
                        {% endif %}
                    {% endfor %}
                    -->

                    <!-- 当前页的页码/总页码 -->
                    <p>{{ page_data.page }}</p> / <p>{{ page_data.pages }}</p>

                    {% if page_data.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ page_data.next_num  }}">下一页</a></li>
                    {% else %}
                        <li class="disabled"><a class="page-link" href="#">下一页</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="{{ page_data.pages }}">尾页</a></li>
                </ul>
            {% endif %}
        </nav>
    </div>
</div>
</body>
</html>